<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    {% block stylesheets %}

        {#'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900'#}
        {% stylesheets
        '@CompanyManagementBundle/Resources/css/*'

        output='css/compiled.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="page">
    <div id="logo" class="container">
        <h1><a href="#">Company<span>Name</span></a></h1>
        <p>Design by 145NCI_B</p>
    </div>
    <div id="menu" class="container">
        <ul>
            <li><a href="{{ path('home') }}"  title="">Homepage</a></li>
            <li><a href="{{ path('user_list') }}"  title="">Workers list</a></li>
            <li><a href="#"  title="">Add worker</a></li>
            <li><a href="#" title="">Remove worker</a></li>
            <li><a href="#" title="">Add role</a></li>
            <li><a href="#" title="">Log out</a></li>
        </ul>
    </div>
</div>
    {% block body %}{% endblock %}
<div id="copyright" class="container">
    <p>@Produkcja Ł.Wencel, A.Szulist, W.Pruszak, P.Szwaba, D.Wnuk, O.Terlecki</p>
</div>
    {% block javascripts %}{% endblock %}
</body>
</html>
