<div class="list-one">
    <div class="linia">
        <div class="komorka">
        Address:
        </div><div class="komorka">
        Zipcode:
        </div>
    </div>

    <div class="linia">
        <div class="komorka">
            {{ user.address }}
        </div><div class="komorka">
            {{ user.zipcode }}
        </div>
    </div>

</div>