{% extends "login_base.html.twig" %}

{% block body %}
<div class="page">
    <div id="logo" class="container">
        <h1><a href="#">Company<span>Name</span></a></h1>
    </div>



    <div class="entry1" align="center">

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="Change Password" />
    </div>
    {{ form_end(form) }}
    </div>

</div>
{% endblock %}